bin/
obj/
packages/
riderModule.iml
_ReSharper.Caches/
.idea/
*.user
*.db
*.db-shm
*.db-wal

# Frontend
node_modules/
dist/
build/
.env*

# Backend
backend/publish/
backend/lambda.zip

# LocalStack
.localstack*

# AppSettings
appsettings.json
appsettings.*.json
!appsettings.example.json